// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2D5A27; /* Verde Montaña */
  --ion-color-secondary: #C18C5D; /* Ocre */
  --ion-color-tertiary: #3B5998; /* Azul */
  --ion-color-arena: #F4EBD0;
--ion-color-gris-pizarra: #4A4A4A;
  /* Puedes agregar los otros como clases personalizadas */
}